.calculating{
    padding: 65px 0;
    height: 700px;
    .title {
        text-align: center;
        color: rgb(228, 107, 9);
        margin-bottom: 20px;
        font-weight: 300;
    }
    &__field{
        margin-top: 35px;
    }
}